/node_modules
/public/hot
/public/storage
/public/site/imagens/noticias
/public/site/imagens/galeria
/public/site/imagens/cardapio
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
